input {
  font-size: larger !important;
  outline: 0;
  color: white !important;
  border-width: 0 0 2px !important;
  border-color: rgb(150, 150, 150) !important;
  background-color: black !important;
}

input:focus {
  background-color: black !important;
  border-width: 0 0 2px 0 !important;
  border-color: rgb(255, 255, 255) !important;
}

textarea {
  font-size: larger !important;
  outline: 0;
  color: white !important;
  border-width: 0 0 2px !important;
  border-color: rgb(150, 150, 150) !important;
  background-color: black !important;
}

textarea:focus {
  background-color: black !important;
  border-width: 0 0 2px 0 !important;
  border-color: rgb(255, 255, 255) !important;
}